.navbar-lighthouse {
	background-color: #333;

	.navbar-brand {
		padding-left: 20px;
		color: white;
	}
	li.nav-item{
		a {
			color: $orange-base;
		}
		a:hover{
			color: $orange-base-hover;
		}
	}
}